<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.firstname %></h1>
    <p>
      Your account has been removed from our website.<br>
    </p>
    <p>
      If you have questions regarding your removal, please contact admin@rottenmangoes.com.
    </p>
    <p>- Rotten Mangoes Team</p>
  </body>
</html>